Package: glial
Maintainer: vvzvlad <vvzvlad@gmail.com>
Section: misc
Description: IoT management system by Nokia IoT Lab
Priority: optional
Origin: Nokia IoT Laboratory <info@glial.pro>
Depends: tarantool (>= 1.10.0), libmosquitto-dev, tarantool-dev (>= 1.10.0)
Homepage: http://glial.pro
Vcs-Git: git://git@github.com:glial-iot/glial_core.git
